nav {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    height: 48px;
}

nav h1 {
    color: #ccc;
    float: left;
    padding: 8px 16px;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

nav ul li a.active {
    background-color: rgb(76, 111, 175);
  }