table tr td {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

table {
    margin-top: 20px;
    position: relative;
}

table tr td div {
    background-position: center;
    background-size: cover;
    background-size: cover;
    height: 100%;
    transition: all 0.7s ease;
    width: 100%;
}

table tr td div:hover {
    transform: scale(1.3) rotate(3deg);
}

#gallery {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px 0 0 0;
}

#keyboard_1 {
    background-image: url("../images/keyboard_1.png");
}

#keyboard_2 {
    background-image: url("../images/keyboard_2.jpg");
}

#keyboard_3 {
    background-image: url("../images/keyboard_3.jpg");
}

#keyboard_4 {
    background-image: url("../images/keyboard_4.jpg");
}

#keyboard_5 {
    background-image: url("../images/keyboard_5.jpg");
}

#keyboard_6 {
    background-image: url("../images/keyboard_6.jpg");
}

#keyboard_7 {
    background-image: url("../images/keyboard_7.jpg");
}

#keyboard_8 {
    background-image: url("../images/keyboard_8.jpg");
}

#keyboard_9 {
    background-image: url("../images/keyboard_9.jpg");
}

#keyboard_10 {
    background-image: url("../images/keyboard_10.jpg");
}

#keyboard_11 {
    background-image: url("../images/keyboard_11.jpg");
}

#keyboard_12 {
    background-image: url("../images/keyboard_12.jpg");
}